*{box-sizing: border-box;}

/* teko-300 - latin */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/teko-v10-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Teko Light'), local('Teko-Light'),
       url('fonts/teko-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/teko-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/teko-v10-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/teko-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/teko-v10-latin-300.svg#Teko') format('svg'); /* Legacy iOS */
}


body{
  width:100vw;
  height:120vh;
  margin:0;
  padding: 0;
  background-color: #000;
}

canvas{
  height:100vh;
  width:100vw;
  background-color: #000000;
  position: fixed;
}

.wrapper,.output{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output{
  height:100vh;
  width:100vw;
}


.box__text{
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
  transform-origin: center; 
  position: fixed;
  height:100vh;
  width:80vw;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  z-index: 10;
}

textarea,p{
  font-size: 5vw;
  font-family: 'Teko', sans-serif;
  text-align: center;
  background-color: transparent;
  color:yellow;
  margin: 0;
  line-height: 5vw;
}
@media (max-width: 599px) {
  textarea,p{
    font-size: 10vw;
    line-height: 10vw;
  }
  .intro{
    width:90%;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: yellow;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: yellow;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: yellow;
}

textarea{
  width: 100%;
  margin-bottom: 10px;
  border-color: transparent;
  overflow: visible;
  height:auto;
  
}
textarea:focus{
  outline:red;
  border-color: transparent;
}


button{
  background-color: yellow;
  color:#000;
  display: inline;
  outline: none;
  border:none;
  padding:10px 20px;
  border-radius:5px;
  font-family: 'Teko', sans-serif;
  font-size: 25px;
  cursor: pointer;
  
}


.intro{
  position: absolute;
  top:50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition:all 0.5s;
  z-index: 1;
}

.button--start{
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50vw;
}

.download{
  border-radius: 50vw;
}

footer{
  position: fixed;
  z-index: 3;
  transition:all 0.5s;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  top:2vw;
  left:2vw;
  right:2vw;
  height:100vh;
  transform: translateY(100vh);
  transition: all 0.3s;
}

.footer__options button{
  width:50px;
  height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:5px;
  margin-bottom: 20px;
  position: relative;
}
button svg{
  width:90%;
}
.footer__options button:hover span{
  display: block;
}

.footer__options span{
  position: absolute;
  left:125%;
  background-color: #fff;
  font-size: 20px;
  width: 120px;
  display: inline-block;
  border-radius: 5px;
  top:0;
  display: none;
}

